In [1]:
 %matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
 # Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
 # create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [6]:
 # reflect an existing database into a new model
Base.prepare(engine, reflect=True)
# reflect the tables

In [7]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [9]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [12]:
# Create a session
session = Session(engine)

In [14]:
#Looking at column names in Measurement
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2146034fef0>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397'}

In [15]:
#Looking at column names in Station
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x214603f2940>,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397'}

In [16]:
#What's the most recent date in the data set?
for row in session.query(Measurement.date).order_by(Measurement.date.desc()).first():
    print(row)

2017-08-23

In [18]:
#Querying for the precipitation from the last year and storing as a variable
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date>= '2016-08-24')

In [21]:
#Putting query results into a dataframe
precip_df = pd.DataFrame(results, columns=['date', 'prcp'])
precip_df.set_index('date', inplace=True, )
precip_df.head(10)

            prcp
date
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00
2016-08-28  0.01
2016-08-29  0.00
2016-08-30  0.00
2016-08-31  0.13
2016-09-01  0.00
2016-09-02  0.00

In [22]:
#Sorting dataframe by the date
precip_df.sort_values(['date'], ascending=True)
precip_df.head()

            prcp
date
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00
2016-08-28  0.01

In [13]:
session.close()