In [1]:
 %matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
 # Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
 # create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# Declare a Base using `automap_base()`
 # reflect an existing database into a new model
Base = automap_base()

In [6]:
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['measurement', 'station']

In [8]:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create a session
session = Session(engine)

In [10]:
#Looking at column names in Measurement
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1934f0e65f8>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [11]:
#Looking at column names in Station
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1934f0e6d30>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'id': 1,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US'}

In [33]:
#What's the most recent date in the data set?
max_date = pd.to_datetime(session.query(Measurement.date).order_by(Measurement.date.desc()).first())
max_date

DatetimeIndex(['2017-08-23'], dtype='datetime64[ns]', freq=None)

In [35]:
#What's the date a year before that?
year_before= max_date - pd.DateOffset(years=1)
year_before
year_before_date = year_before[0]
year_before_date

Timestamp('2016-08-23 00:00:00')

In [36]:
#Querying for the precipitation from the last year and storing as a variable
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date>= year_before_date)

In [ ]:
#Putting query results into a dataframe
precip_df = pd.DataFrame(results, columns=['date','prcp'])
precip_df.set_index('date', inplace=True, )
precip_df

In [ ]:
#Sorting dataframe by the date
precip_df.sort_values(['date'], ascending=False)
#top one is 2.62

In [ ]:
#Plotting the precipitation dataframe with pandas
precip_df.plot(kind="bar", figsize= (10,3))

#ax = precip_df.plot(kind="bar", figsize= (10,3))
#ax.set_xticks(precip_df.index)
#ax.xaxis.set_major_locator(plt.MaxNLocator(3))

plt.title("Precipitation in Hawaii (Aug 2016-Aug 2017)")
#plt.xticks(np.arange(0, 1, step=0.2))
plt.show()
plt.tight_layout()

In [ ]:
session.close()